In [8]:
import numpy as np
import pandas as pd

In [9]:
data = pd.Series([1,2,3,4,5])
data.values
data.index
data[0]
data[1:3]
data[4]

5

In [10]:
data = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
data
data['c']

3

In [11]:
data = pd.Series(dict(a=1,b=2,c=3,d=4,e=5))
data
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [12]:
series_1 = pd.Series(dict(a=1,b=2,c=3,d=4,e=5))
series_2 = pd.Series(dict(a=11,b=12,c=13,d=14,e=15))
df = pd.DataFrame({'column_1':series_1,'column_2':series_2})
df
df.index
df.columns
df['column_1']
df['column_1']['a']
df['column_2']['c']

13

In [13]:
df2 = pd.DataFrame([[1,2],[11,12],[21,22]],index=['a','b','c'],columns=['col_1','col_2'])
df2

   col_1  col_2
a      1      2
b     11     12
c     21     22

In [14]:
df3 = pd.DataFrame([[1,2,3],[11,12,13]],index=['a','b'],columns=['col_1','col_2','col_3'])
df3

   col_1  col_2  col_3
a      1      2      3
b     11     12     13

In [15]:
df.at['a','column_1']
df.at['b','column_2']=100
df

   column_1  column_2
a         1        11
b         2       100
c         3        13
d         4        14
e         5        15

In [16]:
df.iat[2,0]
df.iat[3,1]=1000
df

   column_1  column_2
a         1        11
b         2       100
c         3        13
d         4      1000
e         5        15

In [17]:
df.loc['b':'d','column_1']
df.loc['d':'e','column_1':'column_2'] = [[0.1,0.2],[0.3,0.4]]
df

   column_1  column_2
a       1.0      11.0
b       2.0     100.0
c       3.0      13.0
d       0.1       0.2
e       0.3       0.4

In [18]:
df.iloc[[1,3],[0,1]]
df.iloc[[2,4],[0,1]] = [[1001,1002],[1003,1004]]
df

   column_1  column_2
a       1.0      11.0
b       2.0     100.0
c    1001.0    1002.0
d       0.1       0.2
e    1003.0    1004.0

In [25]:
df.to_csv('df_data.csv')
df2.to_excel('df2_data.xlsx')
df3 = pd.read_csv('df_data.csv')
df4 = pd.read_excel('df2_data.xlsx')
df3
df4
df5 = pd.read_excel('df2_data.xlsx',engine='openpyxl')
df5

  Unnamed: 0  col_1  col_2
0          a      1      2
1          b     11     12
2          c     21     22